.carousel {
    position: relative;
    height: 415px;
    width: 100%;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .control {
        position: absolute;
        top: calc(50% - 40px);
        width: 80px;
        cursor: pointer;
    }

    .left {
        left: 0px;
        rotate: -90deg;
    }

    .right {
        right: 0px;
        rotate: 90deg;
    }

    .index {
        position: absolute;
        width: 30px;
        bottom: 25px;
        margin: 0 calc(50% - 15px);
        color: white;

    }
}

.housing-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .info-block1 {
        width: 50%;

        h1 {
            color: #FF6060;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        div {

            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #FF6060;
            color: white;
            height: 25px;
            font-size: 14px;
            font-weight: 700;
            margin-right: 10px;
            margin-bottom: 24px;
            padding: 0 5px;
            min-width: 115px;
        }
    }

    .info-block2 {
        width: 50%;

        .host {
            display: flex;
            justify-content: right;
            align-items: center;
            margin-top: 10px;

            div {
                display: flex;
                flex-direction: column;
                color: #FF6060;
                justify-content: right;
                font-size: 18px;

                span {
                    text-align: right;
                }
            }

            img {
                border-radius: 50%;
                height: 64px;
                margin-left: 10px;
            }
        }

        .rating {
            text-align: right;
            margin-top: 21px;

            // https://codepen.io/sosuke/pen/Pjoqqp
            .star {
                filter: invert(100%) sepia(5%) saturate(581%) hue-rotate(217deg) brightness(118%) contrast(78%);
            }

            .colored {
                filter: invert(74%) sepia(54%) saturate(6467%) hue-rotate(322deg) brightness(101%) contrast(111%);
            }

            :not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .collapses {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .width-adjust {
            width: 45%;

            .collapse {
                border-radius: 10px;
            }
        }
    }

}

@media only screen and (max-width: 992px) {
    .carousel {
        height: 255px;
        img{
            border-radius: 10px;
        }
        .control {
            top: calc(50% - 10px);
            width: 25px;
            
        }
    }

    .housing-info {
        flex-direction: column;

        .info-block1 {
            width: 100%;

            h1 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            div {
                font-size: 10px;
                min-width: 84px;
                margin-bottom: 16px;
            }
        }

        .info-block2 {
            width: 100%;
            position: relative;

            .host {
                margin: 0;

                div {
                    font-size: 12px;
                }

                img {
                    height: 32px;
                }
            }

            .rating {
                height: 18px;
                position: absolute;
                margin: 0;
                top: calc(50% - 9px);
            }
        }

        .collapses {
            flex-direction: column;

            .width-adjust {
                width: 100%;

                margin-top: 20px;

                .collapse {
                    border-radius: 10px;

                }
            }
        }
    }

}