footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    height: 119px;
    padding: 45px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    p{
        width: 50%;
        text-align: center;
    }
}


@media only screen and (max-width: 992px) {
    footer{
        font-size: 12px;
    }

}